body{
  width: 1500px;
}
.nav{
    display: inline-flex;
    height: 10vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    justify-content: space-evenly;
    background-color: white;
    font-size: 24px;
    height: 100px;
    list-style: none;
    color: black;
    
}

header{
    justify-content: center;
    width: 700px;
    height: 27s0px;
}

#pills-tab .nav-link:hover {
    background-color: #83818c; 
  }

  .nav .nav-link:not(.active) {
    background-color: #b1a4d0; 
    color: #FFFFFF; 
  }

  /*USAR LOS PASADOS PARA LAS DEMAS PAGINAS*/

  section{
    background: linear-gradient(rgb(187, 8, 236), #a12797c7); 
    height: 700px;
  }
  h2{
    width: 200px;
    color: white;
  }


  .redes {
    list-style: none; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 0;
    float: left;
    margin-left: 15em;
  }
  
  .redes li {
    margin-bottom: 20px; 
  }
  
  .redes img {
    width: 150%;
    height: 200px;
  }


  .img2{
    width: 120px;
    height: 150px;
    justify-items: center;
    border-radius: 1px;
    padding: 5px;
}
.alv {
  display: flex;
  align-items: center;
}

.alv svg {
  width: 40px; 
  height: 40px;
  margin-right: 10px; 
  margin-left: 10em;
  color: white;
}

.alv p {
  margin: 0;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
  
.sidebar {
  float: right;
  font-size: 25px;
  color: white;
  width: 45%; 
  background-color: none; 
  padding: 20px; 
  margin-top: 2px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}  
.sidebar h2, .sidebar button {
  text-align: center; 
  margin-right: 20em;
}
.submit-button {
  display: inline-block;
  padding: 10px 122px; 
}

footer{
  flex: 100%;
  text-align: center;
  padding: 20px;
  background: #6f6f6f;  
  margin-top: 10px;
  height: 130px;
}
#footer-texto{
  color: white;
  font-size: 15px;
}
.icono-social {
color: #b1a4d0;
margin: 0 2em;

}
a{
text-decoration: none;
}




