*{
    box-sizing: border-box;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-right: 20%;
    margin-left: 20%;
    min-width: 40px;
    background-color: white; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

  section {

    flex: 1;
    margin-top: -8%;
    padding: 20px;
    padding-top: 2em;
    height: 1050px;
    width: 1600px;
    background: linear-gradient(rgb(187, 8, 236), #a12797c7); 

  }


.nav{
    display: inline-flex;
    height: 10vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    font-size: 24px;
    height: 100px;
    list-style: none;
    color: black;
    position: absolute;
    top: 60px; 
    right: 85px;
    
}

.sidebar {
  float: right;
  font-size: 29px;
  color: white;
  width: 45%; 
  background-color: none; 
  padding: 20px; 
  margin-top: 45px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}

.clearfix {
  clear: both;
}

* {
    box-sizing: border-box;
   }
   
   .container {
    position: relative;
    flex: 1;
    padding: 20px;
    
   }
   
   .mySlides {
    justify-content: center;
   }
   .mySlides img {
    width: 500px; 
    height:650px; 
    justify-content: left;
    margin-left: 2em;
  }
  
    p {
      flex: 3; 
      padding: 2px; 
      background-color: #f1f1f1; 
      align-items: center;
      flex-direction: row;
      
    }
  
   
   .cursor {
    cursor: pointer;
   }
   
   .prev,
   .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: purple;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: white;
   }
   
   
    .next {
        right:35em;
        border-radius: 3px 0 0 3px;
        display: flex;
      }
   
   .prev {
    left: -2em;
    border-radius: 3px 0 0 3px;
   }
   
   
   .prev:hover,
   .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
   }
   
   .caption-container {
    text-align: center;
    background-color: orangered;
    padding: 2px 16px;
    color: blanco;
   }
   
   .row:after {
    content: "";
    display: table;
    clear: both;
   }
   
   .column {
    float: leftcenter;
    width: 16.66%;
   }
   
   .demo {
    opacity: 0.6;
   }
   
   .active,
   .demo:hover {
    opacity: 1;
   }

#pills-tab .nav-link:hover {
    background-color: #83818c; 
  }
  


.nav-item{
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-weight: 500;
    position: relative;

    &:before{
        content:"";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #dfe2ea;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: 0.3s;
    }
}



header h1{
    font-size: 30px;
    text-align: left;
    margin-top: -60px;
    margin-left: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
  .nav .nav-link:not(.active) {
    background-color: #b1a4d0; 
    color: #FFFFFF; 
  }

nav a{
    text-align: center;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    border: 2px solid white;
    background-color: black;
    
}

.icono-social {
    color: #b1a4d0;
    margin: 0 2em;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: left;
    margin-left: -5em;
}
 
 /*/SECTION/*/
 .sobreNosotros{
    color: white;
 }
form{
    width: 450px;
    background: white;
    border-radius: 3%;
    float: right;
    text-align: justify;
    margin-top: -450px;
    color: black;
    margin: auto;
}
.input{
    padding-left: 10px;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#titulo-seccion{
    text-align: justify;
    font-size: 25px;
    color: white;
}
section h2{
     color: white;
}

section img{
    margin-top: 40px;
}
.logo-brand{
font-weight: bold;
text-align: justify;
background-color:  #545478;
border-radius: 5px;
}
#brand-content{
    padding-bottom: 50px;
    text-align: center;
}


footer{
    flex: 100%;
    text-align: center;
    padding: 20px;
    background: #6f6f6f;  
    margin-top: 10px;
    height: 130px;
    width: 1600px;
}
#footer-texto{
    color: white;
    font-size: 15px;
}

ul{
    background: #282840;  
    font-size: 10px;
    color: white;
}
a{
    text-decoration: none;
}
ul a{
    text-align: center;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
ul a:hover{
    color: rgb(67, 62, 62);
}

    section{
        height: 1100px;
    }


@media screen and (min-width: 817px) {
    form{
        margin-top: -450px;
    }
}
.contacto-targeta{
      
    color: white;
    margin-top: 100px;
    margin-left: 60px;
}


  
    @media screen and (max-width: 1500px) {
        .content{
        margin-top: 90px;
    }
    .products-destacados-grid{
       margin-top: -60px;
    }
}

@media screen and (min-width: 817px) {

    .content{
        margin-top: 90px;
    }
}
    

  .botonLogin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botonLogin img{
  max-width: 70%;
  max-height: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; 
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

header {
    position: absolute;
    top: 10px; 
    left: 0px; 
  }

  #whatsapp-container {
    position: fixed;
    top: 20px; 
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #25d366;
    border-radius: 5px;
  }
  
  #whatsapp-link img {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
  }
  
  #whatsapp-number {
    color: white;
    font-weight: bold;
  }

  