html {
    height: 100%;
  }
  body {
    height: 1000px;
    margin:0;
    padding:0;
    font-family: sans-serif;
   
  }

  .nav{
    display: inline-flex;
    height: 10vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    justify-content: space-evenly;
    font-size: 24px;
    height: 100px;
    list-style: none;
    color: black;
   
    
}

header{
    justify-content: center;
    width: 700px;
    height: 27s0px;
}

#pills-tab .nav-link:hover {
    background-color: #83818c; 
  }

  .nav .nav-link:not(.active) {
    background-color: #b1a4d0; 
    color: #FFFFFF; 
  }
  
  .login-box {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 500px;
    height: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:#b1a4d0;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 1%;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  button{
    background-color:#6f6f6f;
    color: white;
    border-style:none;
    width: 200px;
    height: 50px;
    border-radius: 3%;
    font-size: 20px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  

  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    
  }

  
  
  .login-box a:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803,
                0 0 25px #bd9d0b,
                0 0 50px #f4e403,
                0 0 100px #d5cf1e;
  }
  
  .login-box a button {
    position: absolute;
    display: block;
  }
  
  .login-box a button:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f4c003);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a button:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f4bc03);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a button:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f4dc03);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a button:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f4b003);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  footer{
    flex: 100%;
    text-align: center;
    padding: 20px;
    background: #6f6f6f;  
    margin-top: 10px;
    height: 130px;
}
#footer-texto{
    color: white;
    font-size: 15px;
}
.icono-social {
  color: #b1a4d0;
  margin: 0 2em;
  
}
a{
  text-decoration: none;
}
  
  
  