body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    margin: 0;
    padding: 0;
  }
 
  h1 {
    text-align: center;
    color: #333; 
  }
  
  form {
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333; 
  }

  
  input[type="number"],
  input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
  }
  
  input[type="file"] {
    display: inline-block;
  }
  
  button {
    background-color: #b1a4d0; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  #progress {
    margin: 10px 0;
    text-align: center;
    color: #333; 
  }
  
  #mensaje {
    text-align: center;
    color: #333; 
    display: none;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  th, td {
    text-align: left;
    padding: 8px 12px;
    border: 1px solid #ddd; 
  }
  
  th {
    background-color: #b1a4d0; 
    color: #fff; 
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  .volver-inicio {
    text-align: center;
    margin: 20px;
  }
  
  .btn-volver {
    text-decoration: none;
    background-color: #b1a4d0; 
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-volver:hover {
    background-color: #0056b3; 
  }

  footer{
    flex: 100%;
    text-align: center;
    padding: 20px;
    background: #6f6f6f;  
    margin-top: 10px;
    height: 130px;
}
#footer-texto{
    color: white;
    font-size: 15px;
}
.icono-social {
  color: #b1a4d0;
  margin: 0 2em;
  
}
a{
  text-decoration: none;
}
  