.container {
    color: #b1a4d0;
    text-align: center;
    margin-top: 100px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 20px;
    text-decoration: none;
    background-color: #b1a4d0;
    color: #fff;
    border-radius: 6px;
    margin-right: 10px;
}

.btn:hover {
    background-color:#c50ff3;
}

body{
    font-family: "Arial Black", sans-serif;
    background-color: white;
}

.volver-inicio {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #b1a4d0;
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-volver:hover {
    background-color: #c50ff3;
  }
  .nav{
    display: inline-flex;
    height: 10vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    justify-content: space-evenly;
    background-color: white;
    font-size: 24px;
    height: 100px;
    list-style: none;
    color: black;
    
    
}

header{
    justify-content: center;
    width: 700px;
    height: 27s0px;
}

#pills-tab .nav-link:hover {
    background-color: #83818c; 
  }

  .nav .nav-link:not(.active) {
    background-color: #b1a4d0; 
    color: #FFFFFF; 
  }

  /*USAR LOS PASADOS PARA LAS DEMAS PAGINAS*/

  footer{
    flex: 100%;
    text-align: center;
    padding: 20px;
    background: #6f6f6f;  
    margin-top: 10px;
    height: 130px;
}
#footer-texto{
    color: white;
    font-size: 15px;
}
.icono-social {
  color: #b1a4d0;
  margin: 0 2em;
  
}
a{
  text-decoration: none;
}