.nav{
    display: inline-flex;
    height: 10vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    justify-content: space-evenly;
    background-color: white;
    font-size: 24px;
    height: 100px;
    list-style: none;
    color: black;
    
    
}

header{
    justify-content: center;
    width: 700px;
    height: 27s0px;
}

#pills-tab .nav-link:hover {
    background-color: #83818c; 
  }

  .nav .nav-link:not(.active) {
    background-color: #b1a4d0; 
    color: #FFFFFF; 
  }

  /*USAR LOS PASADOS PARA LAS DEMAS PAGINAS*/

  section {
    background: #f2f2f2; 
    padding: 20px;
  }
  
  
  .service {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .service:hover {
    transform: scale(1.05);
  }
  
  .service img {
    max-width: 100%;
    max-height: 200px; 
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
    color: #ff5733; 
  }
  
  .desc {
    font-size: 14px;
    color: #555;
  }
  footer{
    flex: 100%;
    text-align: center;
    padding: 20px;
    background: #6f6f6f;  
    margin-top: 10px;
    height: 130px;
}
#footer-texto{
    color: white;
    font-size: 15px;
}
.icono-social {
  color: #b1a4d0;
  margin: 0 2em;
  
}
a{
  text-decoration: none;
}


